MJDATA.TXT
MUJOCO_LOG.TXT
*.slxc
*.autosave
*.asv
slprj/
html/
*ert_rtw/
*_ert_shrlib_rtw/
*_rtw/
callgrind.out*
*.slx.original
*.zip
*.tar.gz
*.gz
*.o
references/
*.exe
*.out
*.dylib
*.dll
*.so
*.mexw64
*.mexa64
*.mexi64
*.pdb
BF_RESULT/
temp/
model_report.htmx
*.pdb
CP_result/
BP_result/
*.r2021b
*.r2022a
*.r2021a
.vs/
.vscode/
win64/
glnxa64/
maci64/
maca64/
arm64/